#contact {
  /*display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 10vw;
  font-size: 1.2em;*/

  display: flex;
  flex-direction: column;
  width: 35vw;
  min-width: 60vw;
  max-height: 60vh;
  overflow-y: auto;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.contact-form-text {
  padding-bottom: 10px;
  font-weight: 400;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px minmax(100px, auto);
  gap: 10px;
  grid-auto-rows: minmax(30px, auto);
}

.contact-form input {
  color: whitesmoke;
  border: none;
  background-color: rgb(30, 30, 30);
  height: 96%;
  width: 100%;
}

.send-button {
  grid-column: 2;
  grid-row: 4;
  justify-self: end;
  padding: 0.5em 1.5em;
  background-color: rgb(50, 50, 50);
  color: whitesmoke;
  border: none;
  cursor: pointer;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.contact-form #line {
  height: 4%;
  background-color: whitesmoke;
  transform: translateX(-100%);
}

input:focus + #line {
  transform: translateX(0%);
  transition: transform ease 0.3s;
}

.form-name {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
}
.form-email {
  grid-column: 2;
  grid-row: 1;
  overflow: hidden;
}

.form-subject {
  grid-column: 1/3;
  overflow: hidden;
}

.form-message {
  grid-column: 1/3;
  overflow: hidden;
}

textarea {
  color: whitesmoke;
  border: none;
  background-color: rgb(30, 30, 30);
  height: 96%;
  width: 100%;
  padding-left: 1em;
  padding-top: 1em;
}

textarea:enabled {
  outline: none;
  box-shadow: none;
}

textarea:focus + #line {
  transform: translateX(0%);
  transition: transform ease 0.3s;
}
