#home 
{
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    min-height: inherit;
    overflow: scroll;   
}

.header 
{
    font-size: 2rem;
}

.body
{
    padding-right: 10em;
    padding-top: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}