#home {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  min-height: inherit;
  overflow: scroll;
  padding-right: 5vw;
  height: 30vh;
  width: 80vw;
}

.header {
  font-size: 2em;
  font-weight: 400;
}

.body {
  font-size: 1.1em;
  text-align: justify;
}
