.logo
{
  width: 20vw;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 0.4em;
  padding-left: 2em;
}

.logo #name 
{
  font-size: 3em;
}

.logo #occupation
{
  font-size: 1.5em;
}

.nav-links
{
  list-style: none;
  width: inherit;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-top: 0.4em;
  padding-right: 2em;
}

.nav-links li 
{
  padding-left: 7em;
}

a 
{
  color: inherit;
  text-decoration: none;
}