@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body
{
  font-family: 'Heebo', 'sans-serif';
  font-weight: 100;
  font-size: 1em;
  color: whitesmoke;
  background-color: black;
  overflow: hidden;
}

.frame
{
  width: 96vw;
  height: 94vh;
  border-color: whitesmoke;
  border-style: solid;
  border-width: thin;
  position: absolute;
  z-index: 1;
  left: 2vw;
  top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.landing 
{
  z-index: 2;
  font-size: 1.1rem;
  width: inherit;
  display: flex;
}

.content 
{
  display: flex;
  /**flex-direction: column;*/
  z-index: 2;
  /**
  width: 50vw;
  height: 70vh;
  */
  width: inherit;
  height: inherit;
  justify-content:flex-end;
  align-items: center;
  flex-wrap: wrap;
  color: darkturquoise; 
  /**padding-left: 10em;
  padding-right: 10em;*/
  max-width: 96vw;
  max-height: 94vh;
}

.webgl
{
  position: absolute;
  top: 0;
  left: 0;
  /*remove border created on canvas when mouse controls shape shape*/
  outline: none;
}

