*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body
{
  overflow: hidden;
  background-color: black;
}

.webgl
{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  /*remove border created on canvas when mouse controls shape shape*/
  outline: none;
}

.frame
{
  width: 96vw;
  height: 94vh;
  border-color: whitesmoke;
  border-style: solid;
  border-width: thin;
  position: absolute;
  z-index: 2;
  left: 2vw;
  top: 3vh;
}

.main
{
  font-family: "Heebo", sans-serif;
  position: absolute;
  z-index: 2;
  font-size: 1.1rem;
  color: whitesmoke;
  width: inherit;
  display: flex;
}

.nav-links
{
  list-style: none;
  width: inherit;
  display: flex;
  justify-content: flex-end;
  padding-top: 0.4rem;
  padding-right: 2rem;
}

.nav-links li 
{
  padding-left: 7rem;
}